*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus";
}

@font-face {
    font-family: "Plus";
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

body{
    background-color: hsl(210, 60%, 98%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.notification_container{
    width: 100vw;
    height: auto;
    font-size: 15px;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: hsl(219, 12%, 42%);
}

.notif-parent{
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-gap: 10px;   
}

.header{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.noti-text{
    color: hsl(224, 21%, 14%);
    font-weight: 800;
}

#notif-counter{
    background-color: hsl(219, 85%, 26%);
    color: #fff;
    padding: 1px;
    padding-inline: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.notif-wrapper{
    background-color: #fff;
    border-radius: 6.5px;
    -webkit-border-radius: 6.5px;
    -moz-border-radius: 6.5px;
    -ms-border-radius: 6.5px;
    -o-border-radius: 6.5px;
    padding: 10px;
    display: grid;
}

.notif-p{
    padding: 10px;
    border: 1px solid hsl(219deg 12% 42% / 17%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.space{
    padding-top: 15px;
}

.notif-wrapper.unread{
    background-color: hsl(211, 68%, 94%);
}

.profile
{
    display: flex;
    align-items: center;
}

.images{
    width: 35px;
    padding-right: 6px;
}

.strong{
    font-weight: bold;
    color: hsl(224, 21%, 14%);
}

.strong-blue{
    color: hsl(219, 85%, 26%);
    font-weight: bold;
}

#mark-as-unread{
    cursor: pointer;
}

#mark-as-unread:active{
    color: hsl(219, 85%, 26%);
}

@media screen and (width > 650px) {
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .header{
        padding-bottom: 13px;
    }
    .notification_container{
        width: 600px;
        height: auto;
        border-radius: 10px;
        font-size: 10px;
        background-color: hsl(0, 0%, 100%);
}
.notif-parent{
    gap: 3px;
}
.notif-wrapper{
    padding: 7px;
}
}
